<app-banner [bannerUrl]="bannerUrlData" [heading]="headingData" [subHeading]="subHeadingData"></app-banner>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" *ngIf="posts">
      <div class="post-preview" *ngFor="let post of posts">
        <a [routerLink]="'posts/'+post.slug">
          <h2 class="post-title">
            {{post.title}}
          </h2>
          <h3 class="post-subtitle">
            {{post.tagline}}
          </h3>
        </a>
        <!-- Posted by -->
        <!-- <a href="#">Start Bootstrap</a> -->
        <p class="post-meta">
          {{post.created_at | date:'M/d/yyyy HH:mm:ss'}}</p>
      </div>
      <hr>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

<hr>