<header class="masthead" style="background-image: url('assets/website/img/home-bg.jpg')" *ngIf="post">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{post.title}}</h1>
          <span class="subheading">{{post.tagline}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" *ngIf="post" [innerHtml]="post.content | safehtml">
      </div>
    </div>
  </div>
</article>

<hr>